/* Дизайн шапки страницы */
.site-header {
    background-color: var(--header);
    border-bottom: 2px solid var(--BoxBorder);
    height: 82px;
    animation: none;
    padding: 24px 0
}
/* Кликабельный логотип */
.LogoBox{
    transition: 0.2s;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    background: #2c3a50;
}
.LogoBox:hover {
    transition: 0.2s;
    background: #31435e;
}

/* Icon/Text/Version логотипа */
.LogoName:before{
    content: "ALED";
    background: url(https://i.imgur.com/K98MRfw.png);
    background-size: 25px;
    padding-left: 32px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    font-weight: 600;
    font-size: 23px;
    color: #00ffea;
}
.LogoName:after{
    content: 'GG';
    font-weight: 600;
    font-size: 15px;
    color: #ffef5b;
}
.LogoPage:before{
    content: var(--NamePage);
    font-weight: 600;
    font-size: 24px;
    margin-left: 7px;
    color: #ffffff;
}
.LogoPage:after{
    content: "";
    font-weight: 600;
    font-size: 12px;
    margin-left: 2px;
    color: #fbff00;
}
.LogoVersion:before{
    content: var(--VerPage);
    font-weight: 900;
    font-size: 14px;
    margin-left: 2px;
    color: #ff3636;
}
.site-header-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.header-links {
    display: inline-flex
}
.header-links li {
    display: inline-flex
}

/* Запрет выделения текста */
:root, a, u{text-decoration: none; overflow-x: hidden;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
} 